Source: mint-info-debian
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mint-info-debian-cinnamon
Architecture: any
Provides: mint-info
Replaces: mint-info-debian
Conflicts: mint-info-debian
Depends: mint-user-guide-cinnamon
Description: Necessary information about the Linux Mint release and edition.
 Base package. This package is needed by the Mint tools and the system to uniquely identify the edition and release of Linux Mint you're using and to get information related to it.

Package: mint-info-debian-mate
Architecture: any
Provides: mint-info
Replaces: mint-info-debian
Conflicts: mint-info-debian
Depends: mint-user-guide-mate
Description: Necessary information about the Linux Mint release and edition.
 Base package. This package is needed by the Mint tools and the system to uniquely identify the edition and release of Linux Mint you're using and to get information related to it.

Package: mint-info-debian-lxde
Architecture: any
Provides: mint-info
Replaces: mint-info-debian
Conflicts: mint-info-debian
Description: Necessary information about the Linux Mint release and edition.
 Base package. This package is needed by the Mint tools and the system to uniquely identify the edition and release of Linux Mint you're using and to get information related to it.
